@media (min-width: 1024px)/*pc */
{

}
/* Break Point is call is tranfer point  */
 @media (min-width: 740px) and (max-width: 1024px) /*tablet */
{

}
 @media(max-width: 740px)/* mobile  */
{
    #navi
    {
        display: block;
    }
    #navi > li{
        display: block; 
    }
    #header .search {
    position: relative;
    display: none;
    }
    #header .menu-mobie
    {
        display: block;
    }
    .s-col-full
    {
        width: 100%;

    }
    .menber-imge
    {
        width: 8000px;
        
    }
    
}
/* pc >= 1024px
   tablet >= 740px && < 1024px
   mobile <740px */